<!--左侧-->
<div class="col-md-2 col-sm-offset-1">
    <!--左侧的几个用户框-->
    <ul class="list-group">
        <a href="#" class="list-group-item active"> <span class="glyphicon glyphicon-user"></span>
            &nbsp;&nbsp;首页</a>
        <a href="# " class="list-group-item"><span class="glyphicon glyphicon-lock"></span>&nbsp;
            标签管理</a>
        <a href="#" class="list-group-item"><span
                class="glyphicon glyphicon-comment"></span>&nbsp; 电影管理</a>
        <a href="#" class="list-group-item"><span
                class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;预告管理</a>
        <a href="# " class="list-group-item"><span
                class="glyphicon glyphicon-heart"></span> &nbsp; 会员管理</a>
        <a href="#" class="list-group-item"><span
                class="glyphicon glyphicon-heart"></span> &nbsp; 评论管理</a>
        <a href="# " class="list-group-item"><span
                class="glyphicon glyphicon-heart"></span> &nbsp; 收藏管理</a>
        <a href="#" class="list-group-item"><span
                class="glyphicon glyphicon-heart"></span> &nbsp; 日志管理</a>
        <a href="#" class="list-group-item"><span
                class="glyphicon glyphicon-heart"></span> &nbsp; 权限管理</a>
        <a href="#" class="list-group-item"><span
                class="glyphicon glyphicon-heart"></span> &nbsp; 角色管理</a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-heart"></span> &nbsp; 管理员管理</a>
    </ul>
</div>